{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Blog</title>
{% endblock %}

{% block content %}
   <section id="breadcrumbRow" class="row">
      <h2>blogs</h2>
      <div class="row pageTitle m0">
         <div class="container">
            <ul class="breadcrumb fleft">
               <li><a href="{% url 'home' %}">home</a></li>
               {% if request.GET.category %}
                  <li><a href="{% url 'blogs' %}">blogs</a></li>
                  <li>{{ request.GET.category }}</li>
               {% elif request.GET.author %}
                  <li><a href="{% url 'blogs' %}">blogs</a></li>
                  <li>{{ request.GET.author }}</li>
               {% elif request.GET.tag %}
                  <li><a href="{% url 'blogs' %}">blogs</a></li>
                  <li>{{ request.GET.tag }}</li>
               {% else %}
                  <li class="active">blogs</li>
               {% endif %}
            </ul>
         </div>
      </div>
   </section>
   <section class="row contentRowPad">
      <div class="container">
         <div class="row">
            <div class="col-sm-8 col-md-8">
               {% for blog in blogs %}
                  <div class="blog row m0">
                     <div class="row m0 titleRow">
                        <div class="fleft date"> {{ blog.created_at|date:"d" }} <span> {{ blog.created_at|date:"b" }} </span></div>
                        <div class="fleft titlePart">
                           <a href="{{ blog.get_absolute_url }}">
                              <h4 class="blogTitle heading">{{ blog.title }}</h4>
                           </a>
                           <p class="m0">By <a href="{% url 'blogs' %}?author={{ blog.author.slug }}">{{ blog.author.full_name }}</a><span>|</span>{{ blog.blog_comment.all|length }} Comments</p>
                        </div>
                     </div>
                     <div class="row m0 featureImg">
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="height: 350px;">
                     </div>
                     <div class="row m0 excerpt">
                        <p>{{ blog.content|truncatechars:400 }}<a href="{% url 'blog_detail' blog.slug %}" class="readMore">read more</a></p>
                     </div>
                  </div>
               {% endfor %}
               {% if is_paginated %}
                  <div class="row mt-5">
                     <div class="col text-center">
                        <div class="block-27">
                              <ul>
                                 {% if page_obj.has_previous %}
                                    {% if request.GET.category %}
                                       <li><a href="{{ request.url }}?category={{request.GET.category}}&page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                    {% elif request.GET.author %}
                                       <li><a href="{{ request.url }}?author={{request.GET.author}}&page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                    {% elif request.GET.tag %}
                                       <li><a href="{{ request.url }}?tag={{request.GET.tag}}&page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                    {% else %}
                                       <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                                    {% endif %}
                                 {% endif %}
                                 {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                          <li class="active"><span>{{ page }}</span></li>
                                    {% else %}
                                          {% if request.GET.category %}
                                             <li><a href="{{ request.url }}?category={{request.GET.category}}&page={{ page }}">{{page}}</a></li>
                                          {% elif request.GET.author %}
                                             <li><a href="{{ request.url }}?author={{request.GET.author}}&page={{ page }}">{{page}}</a></li>
                                          {% elif request.GET.tag %}
                                             <li><a href="{{ request.url }}?tag={{request.GET.tag}}&page={{ page }}">{{page}}</a></li>
                                          {% else %}
                                             <li><a href="{{ request.url }}?page={{page}}">{{page}}</a></li>
                                          {% endif %}
                                    {% endif %}
                                 {% endfor %}
                                 {% if page_obj.has_next %}
                                    {% if request.GET.category %}
                                       <li><a href="{{ request.url }}?category={{request.GET.category}}&page={{ page_obj.next_page_number }}">&gt;</a></li>
                                    {% elif request.GET.author %}
                                       <li><a href="{{ request.url }}?author={{request.GET.author}}&page={{ page_obj.next_page_number }}">&gt;</a></li>
                                    {% elif request.GET.tag %}
                                       <li><a href="{{ request.url }}?tag={{request.GET.tag}}&page={{ page_obj.next_page_number }}">&gt;</a></li>
                                    {% else %}
                                       <li><a href="{{ request.url }}?page={{ page_obj.next_page_number }}">&gt;</a></li> 
                                    {% endif %}
                                 {% endif %}
                              </ul>
                        </div>
                     </div>
                  </div>
               {% endif %}
            </div>
            <div class="col-sm-4 col-md-4">
               <div class="row m0 sidebar">
                  <div class="row m0 latestPosts">
                     <h4 class="heading">Recent posts</h4>
                     {% for recent_post in recent_posts %}
                        <div class="media latestPost">
                           <div class="media-left">
                              <a href="{{ recent_post.get_absolute_url }}" style="width: 90px;">
                                 <img src="{{ recent_post.image.url }}" alt="{{ recent_post.title }}" style="border-radius: 0;">
                              </a>
                           </div>
                           <div class="media-body">
                              <a href="{{ recent_post.get_absolute_url }}">
                                 <h5 class="heading">{{ recent_post.title }}</h5>
                              </a>
                              <p>{{ recent_post.created_at|date:"d b, Y" }}</p>
                           </div>
                        </div>
                     {% endfor %}
                  </div>
                  <div class="row m0 categories">
                     <h4 class="heading">categories</h4>
                     <ul class="list-unstyled">
                        {% for category in categories %}
                           <li><a href="{% url 'blogs' %}?category={{ category.slug }}">{{ category.name }}</a> ({{ category.blog_category.all|length }})</li>
                        {% endfor %}
                     </ul>
                  </div>
                  <div class="row m0 latestPosts">
                     <h4 class="heading">Authors</h4>
                     {% for author in authors %}
                        <div class="media latestPost">
                           <div class="media-left">
                              <a href="{% url 'blogs' %}?author={{ author.slug }}">
                                 <img src="{{ author.image.url }}" alt="{{ author.full_name }}">
                              </a>
                           </div>
                           <div class="media-body">
                              <a href="{% url 'blogs' %}?author={{ author.slug }}">
                                 <h5 class="heading">{{ author.full_name }}</h5>
                              </a>
                              <p>{{ author.blog_author.all|length }} {% if author.blog_author.all|length == 1 %} Blog {% else %} Blogs {% endif %}</p>
                           </div>
                        </div>
                     {% endfor %}
                  </div>
                  <div class="row m0 tags">
                     <h4 class="heading">tags</h4>
                     <ul class="nav tagsNav">
                        {% for tag in tags %}
                           <li><a href="{% url 'blogs' %}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
                  <!--Shortcode Element-->
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
