{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Login</title>
{% endblock %}

{% block content %}
    <section id="breadcrumbRow" class="row">
        <h2>login</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <h4 class="fleft">login</h4>
                <ul class="breadcrumb fright">
                <li><a href="index.html">home</a></li>
                <li class="active">login</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}   
