{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Forget Password</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}" />
{% endblock %}

{% block content %}

    <section id="breadcrumbRow" class="row">
        <h2>forget password</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">forget password</li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="inner">
              <div class="image-holder">
                <img src="{% static 'register/images/registration-form-4.jpg' %}" alt="register image" />
              </div>
              <form method="POST" style="padding-top: 140px;">
                {% csrf_token %}
                <h3>Forget Password</h3>
                <div class="form-holder">
                  <input type="text" name="email" placeholder="e-mail" class="form-control" />
                </div>
                <div class="form-login" style="padding-top:25px;">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}

    <script nonce="e8e65517-a360-47fd-9564-9ba39988a0b9">
        (function (w, d) {
        !(function (j, k, l, m) {
            j[l] = j[l] || {};
            j[l].executed = [];
            j.zaraz = { deferred: [], listeners: [] };
            j.zaraz.q = [];
            j.zaraz._f = function (n) {
            return async function () {
                var o = Array.prototype.slice.call(arguments);
                j.zaraz.q.push({ m: n, a: o });
            };
            };
            for (const p of ["track", "set", "debug"]) j.zaraz[p] = j.zaraz._f(p);
            j.zaraz.init = () => {
            var q = k.getElementsByTagName(m)[0],
                r = k.createElement(m),
                s = k.getElementsByTagName("title")[0];
            s && (j[l].t = k.getElementsByTagName("title")[0].text);
            j[l].x = Math.random();
            j[l].w = j.screen.width;
            j[l].h = j.screen.height;
            j[l].j = j.innerHeight;
            j[l].e = j.innerWidth;
            j[l].l = j.location.href;
            j[l].r = k.referrer;
            j[l].k = j.screen.colorDepth;
            j[l].n = k.characterSet;
            j[l].o = new Date().getTimezoneOffset();
            if (j.dataLayer)
                for (const w of Object.entries(
                Object.entries(dataLayer).reduce(
                    (x, y) => ({ ...x[1], ...y[1] }),
                    {}
                )
                ))
                zaraz.set(w[0], w[1], { scope: "page" });
            j[l].q = [];
            for (; j.zaraz.q.length; ) {
                const z = j.zaraz.q.shift();
                j[l].q.push(z);
            }
            r.defer = !0;
            for (const A of [localStorage, sessionStorage])
                Object.keys(A || {})
                .filter((C) => C.startsWith("_zaraz_"))
                .forEach((B) => {
                    try {
                    j[l]["z_" + B.slice(7)] = JSON.parse(A.getItem(B));
                    } catch {
                    j[l]["z_" + B.slice(7)] = A.getItem(B);
                    }
                });
            r.referrerPolicy = "origin";
            r.src =
                "../../../cdn-cgi/zaraz/sd0d9.js?z=" +
                btoa(encodeURIComponent(JSON.stringify(j[l])));
            q.parentNode.insertBefore(r, q);
            };
            ["complete", "interactive"].includes(k.readyState)
            ? zaraz.init()
            : j.addEventListener("DOMContentLoaded", zaraz.init);
        })(w, d, "zarazData", "script");
        })(window, document);
    </script>

    <script src="{% static 'register/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'register/js/main.js' %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-23581568-13");
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
    integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
    data-cf-beacon='{"rayId":"82b85553ee235284","b":1,"version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
    crossorigin="anonymous"></script>

{% endblock %}