{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Cart</title>
{% endblock %}

{% block content %}

   <section id="breadcrumbRow" class="row">
      <h2>cart</h2>
      <div class="row pageTitle m0">
         <div class="container">
            <ul class="breadcrumb fleft">
               <li><a href="{% url 'home' %}">home</a></li>
               <li class="active">cart</li>
            </ul>
         </div>
      </div>
   </section>

   <section class="row contentRowPad">
      <div class="container">
         <div class=" cartPage">
            <div class="table-responsive cartTable row m0">
               <table class="table">
                  <thead>
                     <tr>
                        <th class="productImage">Product image</th>
                        <th class="productName">Product information</th>
                        <th>price</th>
                        <th>quantity</th>
                        <th>total</th>
                        <th>remove</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for product in products %}
                        <tr class="alert" role="alert">
                           <td class="productImage" style="vertical-align: middle;"><img src="{{ product.product.image.first.image.url }}" alt="{{ product.product.name }}"></td>
                           <td class="productName" style="vertical-align: middle;">
                              <div class="row descList m0">
                                 <dl class="dl-horizontal">
                                    <dt>product name :</dt>
                                    <dd>{{ product.product.name }}</dd>
                                    <dt>product code :</dt>
                                    <dd>{{ product.product.code }}</dd>
                                    <dt>category :</dt>
                                    <dd>{{ product.product.category.name }}</dd>
                                    <dt>manufacturer :</dt>
                                    <dd>{{ product.product.manufacturer.name }}</dd>
                                 </dl>
                              </div>
                           </td>
                           {% if product.product.in_sale %}
                              <td class="price" style="vertical-align: middle;"><del>${{ product.product.price }}</del>${{ product.product.final_price }}</td>
                           {% else %}
                              <td class="price" style="vertical-align: middle;">${{ product.product.price }}</td>
                           {% endif %}
                           <td style="vertical-align: middle;">
                              <div class="input-group spinner" style="height: max-content;">
                                 <input type="text" class="form-control" value="{{ product.quantity }}">
                                 <div class="input-group-btn-vertical">
                                    <button class="btn btn-default"><i class="fas fa-angle-up"></i></button>
                                    <button class="btn btn-default"><i class="fas fa-angle-down"></i></button>
                                 </div>
                              </div>
                           </td>
                           <td class="price" style="vertical-align: middle;">${{ product.get_subtotal }}</td>
                           <td style="vertical-align: middle;"><a href="#" class="edit" data-dismiss="alert" aria-label="Close"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                     {% endfor %}
                  </tbody>
                  <tfoot>
                     <tr>
                        <td colspan="7">
                           <a href="{% url 'products' %}" class="btn btn-primary btn-lg">continue shopping</a>
                           <a href="#" class="btn btn-default btn-lg">clear shopping cart</a>
                           <a href="{% url 'checkout' %}" class="btn btn-default btn-lg fright">Proceed to Checkout</a>
                           <p class="fright" style="font-size: larger; margin-top: 20px;">Total Price : <span class="price" style="font-weight: bolder;">${{ total }}</span></p>
                        </td>
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </section>
   
{% endblock %}   
