{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Checkout</title>
{% endblock %}

{% block content %}

    <section id="breadcrumbRow" class="row">
        <h2>checkout</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">checkout</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 orderSummaryRow">
                    <div class="row orderSummary m0">
                        <h4 class="heading">Order summary</h4>
                        <div class="row m0 orderSummaryInner table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dining Table</td>
                                        <td>$840</td>
                                    </tr>
                                    <tr>
                                        <td>office furniture</td>
                                        <td>$420</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>cart subtotal</td>
                                        <td>$1260</td>
                                    </tr>
                                    <tr>
                                        <td>shipping</td>
                                        <td>Free Shipping</td>
                                    </tr>
                                    <tr>
                                        <td>order total price</td>
                                        <td>$1260</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m0 fright">
                <div class="col-sm-12">
                    <button class="btn btn-primary filled btn-sm" type="submit">submit</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
