{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Checkout</title>
{% endblock %}

{% block content %}

    <section id="breadcrumbRow" class="row">
        <h2>checkout</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">checkout</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 orderSummaryRow">
                    <div class="row orderSummary m0">
                        <h4 class="heading">Order summary</h4>
                        <div class="row m0 orderSummaryInner table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.product.name }} x {{ product.quantity }}</td>
                                            {% if product.product.in_sale %}
                                                <td>${{ product.product.final_price }}</td>
                                            {% else %}
                                                <td>${{ product.product.price }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>order total price</td>
                                        <td>${{ total }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m0 fright">
                <div class="col-sm-12">
                    <button class="btn btn-primary filled btn-sm" type="submit">submit</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
