{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Wishlist</title>
{% endblock %}

{% block content %}

    <section id="breadcrumbRow" class="row">
        <h2 id="#table">wishlist</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">wishlist</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row contentRowPad">
        <div class="container">
            <div class=" cartPage">
                <div class="table-responsive cartTable row m0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="productImage">Product image</th>
                                <th class="productName">Product name</th>
                                <th>price</th>
                                <th>remove</th>
                                <th>add to basket</th>
                            </tr>
                        </thead>
                        <tbody id="wishlist-products">
                            {% for product in products %}
                                <tr class="alert" role="alert">
                                    <td class="productImage" style="vertical-align: middle;"><img src="{{ product.image.first.image.url }}" alt="{{ product.name }}"></td>
                                    <td class="productName" style="vertical-align: middle;">
                                        <div class="row descList m0">
                                            <dl class="dl-horizontal">
                                                <dt>product name :</dt>
                                                <dd>{{ product.name }}</dd>
                                                <dt>product code :</dt>
                                                <dd>{{ product.code }}</dd>
                                                <dt>category :</dt>
                                                <dd>{{ product.category.name }}</dd>
                                                <dt>manufacturer :</dt>
                                                <dd>{{ product.manufacturer.name }}</dd>
                                            </dl>
                                        </div>
                                    </td>
                                    {% if product.in_sale %}
                                        <td class="price" style="vertical-align: middle;"><del>${{ product.price }}</del>${{ product.final_price }}</td>
                                    {% else %}
                                        <td class="price" style="vertical-align: middle;">${{ product.price }}</td>
                                    {% endif %}
                                    <td style="vertical-align: middle;"><button class="remove-wishlist" data-id="{{ product.id }}" style="background-color: #fd405e; border: none; color: white; padding: 12px; border-radius: 5px;"><i class="far fa-trash-alt"></i></button></td>
                                    <td style="vertical-align: middle;"><button class="add-basket" data-id="{{ product.id }}" style="background-color: #fd405e; border: none; color: white; padding: 12px 10px; border-radius: 5px;"><i class="fas fa-shopping-basket"></i></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                <a href="{% url 'products' %}" class="btn btn-primary btn-lg">continue shopping</a>
                                <a href="#table" id="clear-wishlist" class="btn btn-default btn-lg fright">clear wishlist</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}   

