{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Catalog</title>
{% endblock %}

{% block content %}
      <section id="breadcrumbRow" class="row">
         <h2>catalog</h2>
         <div class="row pageTitle m0">
            <div class="container">
               <h4 class="fleft">catalog</h4>
               <ul class="breadcrumb fright">
                  <li><a href="index.html">home</a></li>
                  <li class="active">catalog</li>
               </ul>
            </div>
         </div>
      </section>
      <section class="row contentRowPad">
         <div class="container">
            <div class="row" id="catalogs">
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/1.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">sofa collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/2.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">bed collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/3.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">dining collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/4.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">bed collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/5.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">sofa collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/6.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">sofa collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/7.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">bed collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/8.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">dining collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/9.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">bed collections <span>(pdf)</span></div>
               </div>
               <div class="fleft catalogBox">
                  <div class="thumbnail">
                     <div class="thumbnailInner row m0">
                        <img src="images/product/catalog/10.png" alt="">
                        <div class="row m0 hoverBox">
                           <a href="#"><i class="fas fa-download"></i><br>catalog</a>
                        </div>
                     </div>
                  </div>
                  <div class="row m0 catalogType">sofa collections <span>(pdf)</span></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
