{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - Categories</title>
{% endblock %}

{% block content %}
      <section id="breadcrumbRow" class="row">
         <h2>categories</h2>
         <div class="row pageTitle m0">
            <div class="container">
               <ul class="breadcrumb fleft">
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li class="active">categories</li>
               </ul>
            </div>
         </div>
      </section>
      <section class="row contentRowPad">
         <div class="container">
            <div class="row" id="catalogs">
               {% for category in categories %}
                  <div class="col-sm-3">
                     <div class="thumbnail">
                        <div class="thumbnailInner row m0">
                           <a href="{% url 'products' %}?category={{ category.slug }}">
                              <img src="{{ category.image.url }}" alt="{{ category.name }}" style="height: 232px;">
                           </a>
                        </div>
                     </div>
                     <div class="row text-center" style="margin-bottom: 25px; font-weight: bolder;">{{ category.name }} <span></span></div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </section>
{% endblock %}
