{% extends 'base.html' %}
{% load static %}
{% load range_tag %}
{% load mathfilters %}
{% load i18n %}
{% block title %}
   <title>D-Shine - {{ product.name }}</title>
{% endblock %}

{% block css %}
    <style>
        :root {
            --star-color-default: #ccc;
            --star-color-active: #fd405e;
            --star-space-default: 4px;
            --star-space-large: calc(var(--star-space-default) * 2);
            --star-space-small: calc(var(--star-space-default) / 2);
            --star-size-default: 16px;
            --star-size-large: calc(var(--star-size-default) + var(--star-space-large));
            --star-size-small: calc(var(--star-size-default) - var(--star-space-default));
            --star-font-default: 24px;
            --star-font-large: calc(var(--star-font-default) + var(--star-space-large));
            --star-font-small: var(--star-size-default);
        }


        /* Initial rating setup */
        .rating {
            font-size: 0;
        }

        .rating:after {
            content: " ";
            clear: both;
            display: block;
        }

        /* Rating input, label setup */
        .rating input {
            display: none;
        }

        .rating-label {
            height: var(--star-size-default);
            width: var(--star-size-default);
            color: var(--star-color-default);
            font-size: var(--star-font-default);
            line-height: var(--star-size-default);
            margin-right: var(--star-space-default);
            text-align: center;
            display: inline-block;
        }

        /* Mutable rating stars */
        .rating[dir="rtl"] {
            unicode-bidi: bidi-override;
        }

        .rating[dir="rtl"] > input:checked ~ .rating-label {
            font-size: 0;
        }

        .rating[dir="rtl"] > input:checked ~ .rating-label:before {
            content: "\2605";
            color: var(--star-color-active);
        }

        /* Immutable rating stars */
        .rating-label.is-active {
            color: var(--star-color-active);
        }

        /* Rating stars sizes */
        .rating-large .rating-label {
            height: var(--star-size-large);
            width: var(--star-size-large);
            font-size: var(--star-font-large);
            margin-right: var(--star-space-large);
        }

        .rating-large .rating-label:before {
            font-size: var(--star-font-large);
        }

        .rating-small .rating-label {
            height: var(--star-size-small);
            width: var(--star-size-small);
            font-size: var(--star-font-small);
            margin-right: var(--star-space-small);
        }

        .rating-small .rating-label:before {
            font-size: var(--star-font-small);
        }

        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .rating {
            margin: 15px auto;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="breadcrumbRow" class="row">
        <h2>{{ product.name }}</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li><a href="{% url 'products' %}">products</a></li>
                    <li><a href="{% url 'products' %}?category={{product.category.slug}}">{{ product.category.name }}</a></li>
                    <li class="active">{{ product.name }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row contentRowPad">
        <div class="container">
            <div class="row singleProduct">
                <div class="col-sm-7">
                    <div class="row m0 flexslider" id="productImageSlider">
                        <ul class="slides">
                            {% for image in product.image.all %}
                                <li><img src="{{ image.image.url }}" alt="{{ product.name }}" style="height: 500px;"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row m0 flexslider" id="productImageSliderNav">
                        <ul class="slides">
                            {% for image in product.image.all %}
                                <li><img class="img-thumbnail" src="{{ image.image.url }}" alt="{{ product.name }}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row m0">
                        <h4 class="heading">{{ product.name }}</h4>
                        {% if product.in_sale %}
                            <h3 class="heading price"><del>${{ product.price }}</del>${{ product.final_price }}</h3>
                        {% else %}
                            <h3 class="heading price">${{ product.price }}</h3>
                        {% endif %}
                        <div class="row m0 starsRow">
                            <div class="stars fleft">
                                {% for i in product.average_rating|get_range %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="fleft">
                                {{ product.product_review.all|length }} Review(s)
                            </div>
                        </div>
                        <div class="row descList m0">
                            <dl class="dl-horizontal">
                                <dt>category :</dt>
                                <dd>{{ product.category.name }}</dd>
                                <dt>manufacturer :</dt>
                                <dd>{{ product.manufacturer.name }}</dd>
                                <dt>product code :</dt>
                                <dd>{{ product.code }}</dd>
                            </dl>
                        </div>
                        <div class="row m0 shortDesc">
                            <p class="m0">{{ product.description }}</p>
                        </div>
                        <div class="row m0">
                            <!-- <h5 class="heading proAttr">Size :</h5>
                            <select class="selectpicker sizeSelect">
                                <option value="queen">queen</option>
                                <option value="red">red</option>
                                <option value="black">black</option>
                                <option value="white">white</option>
                            </select> -->
                        </div>
                        <div class="row m0">
                            <ul class="list-inline wce">
                                <li style="cursor: pointer;" data-id="{{ product.pk }}" class="wishlist"><i class="far fa-heart"></i>Add to Wishlist</li>
                        </ul>
                        </div>
                        <div class="row m0 qtyAtc">
                            <button class="fleft btn btn-default" id="basket" data-id="{{ product.pk }}"><img src="{% static 'images/icons/cart3.png' %}" alt="basket icon"> add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m0 tabRow">
                <ul class="nav nav-tabs" role="tablist" id="shortcodeTab">
                    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">
                        <i class="fas fa-align-left"></i> description
                    </a></li>
                    <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">
                        <i class="fas fa-thumbs-up"></i> review ({{ product.product_review.all|length }})
                    </a></li>
                </ul>
                <div class="tab-content shortcodeTabContent">
                    <div role="tabpanel" class="tab-pane row m0 active" id="description">
                        <div class="fleft img"><img class="img-responsive" src="{% static 'images/product/10.png' %}" alt=""></div>
                        <div class="fleft desc">
                            <h5 class="heading">Product Details</h5>
                            <p>{{ product.detail }}</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane row m0" id="review">
                        <div class="row m0 reviewCount">{{ product.product_review.all|length }} {% if product.product_review.all|length == 0 or product.product_review.all|length == 1%} review {% else %} reviews {% endif %} for this product</div>
                        {% for review in reviews %}
                            <div class="row m0 reviewBody">
                                <div class="row m0 starsRow">
                                    {% for i in review.rating|get_range %}
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    {% endfor %}
                                    {% for i in review.rating|sub:5|abs|get_range %}
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                        </a>
                                    {% endfor %}
                                </div>
                                <span class="bold">{{ review.name }}</span> - {{ review.created_at|date:"d F, Y" }}
                                <p class="m0">{{ review.comment }}</p>
                            </div>
                        {% endfor %}
                        <div class="row m0 reviewAdd">
                            <h4 class="heading">Add a review</h4>
                            <form method="POST" class="row m0 reviewForm" id="review">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name *" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" name="email" class="form-control" placeholder="Your Email *" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h4 class="heading">Your Rating</h4>
                                        <div class="rating rating-large" dir="rtl" style="margin-right: 90px;">
                                            <input type="radio" name="rating" id="5" value="5">
                                            <label class="rating-label" for="5">&#9734</label>
                                            <input type="radio" name="rating" id="4" value="4">
                                            <label class="rating-label" for="4">&#9734</label>
                                            <input type="radio" name="rating" id="3" value="3">
                                            <label class="rating-label" for="3">&#9734</label>
                                            <input type="radio" name="rating" id="2" value="2">
                                            <label class="rating-label" for="2">&#9734</label>
                                            <input type="radio" name="rating" id="1" value="1">
                                            <label class="rating-label" for="1">&#9734</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="heading">Your Review</h4>
                                        <textarea name="comment" id="reviewText" class="form-control reviewText"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" class="btn btn-primary filled">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!--Tabs Row-->
            <div class="row shortcodesRow m0">
                <div class="row sectionTitle">
                    <h3>related products</h3>
                </div>
                {% for related_product in related_products %}
                <div class="col-sm-3 product">
                    <div class="productInner row m0">
                        <div class="row m0 imgHov">
                            <img src="{{ related_product.image.url }}" alt="">
                            <div class="row m0 hovArea">
                                <div class="row m0 icons">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-shopping-cart-alt"></i></a></li>
                                        <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>                                    
                                </div>
                                <div class="row m0 proType"><a href="#">{{ related_product.name }}</a></div>
                                <div class="row m0 proRating">
                                    <i class="fas fa-star-o"></i>
                                    <i class="fas fa-star-o"></i>
                                    <i class="fas fa-star-o"></i>
                                    <i class="fas fa-star-o"></i>
                                    <i class="fas fa-star-o"></i>
                                </div>
                                {% if related_product.in_sale %}
                                    <del><div class="row m0 proPrice"><i class="fas fa-usd"></i>{{ product.price }}</div></del>
                                {% else %}
                                    <h3 class="heading price">{{ product.price }}</h3>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row m0 proName"><a href="{{ related_product.get_absolute_url }}">colorful sofa</a></div>
                        <div class="row m0 proBuyBtn">
                            <button class="addToCart btn">add to cart</button>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}    

{% block js %}
    <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}
