{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   <title>D-Shine - 404 Error</title>
{% endblock %}

{% block content %}
    <section id="breadcrumbRow" class="row">
        <h2>404</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <ul class="breadcrumb fleft">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">404</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="page404" class="row contentRowPad">
        <div class="container">
            <img src="{% static 'images/404.png' %}" alt="">
            <h1>Error 404</h1>
            <h2>Oops! page not found</h2>
        </div>
    </section>
{% endblock %}
